.submit {
  background: #fc7614;
  border-radius: 22.5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 45px;
  border-style: none;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.86667px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.submit:hover{
  background: #FFF;
  color: #FC7614;
}
