body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100vw;
  height: 100vh;
  background: #131518;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 15px;
  width: 282px;
  height: 312px;
  padding: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.round-bg {
  background: #262e38;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
h1 {
  margin: 0;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.rate-num{
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  border-style: none;
}
.rate-num:hover{
  background: #FC7614;;
}
.rate-num:active,.rate-num:focus{
  background: #7C8798;
}

span {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #969fad;
  letter-spacing: 0.7px;
}
.btn-container{
  display: flex;
  direction: row;
  gap:18px;
}
.ratedTxt{
  background: #262E38;
  border-radius: 22.5px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FC7614;
  width: 168px;
  height:32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rated-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
